$s: 8em;

body{
    display: flex;
    justify-content: center;
    gap: 40px;
}


.box__one{
    width: 500px;
    height: 500px;
    background:
    repeating-conic-gradient(#f008 10% 40%, #1007 10% 60%) 0 0/ #{$s $s},
    linear-gradient( tomato, #100) 0 0 /1% #{.5*$s};
}